:root{
	--ff-primary: 'Helvetica', 'Arial', 'Sans-Serif';
	--ff-secondary: 'Source Sans Pro', sans-serif;

	--fs-h1: 64px;

	--fw-reg: 200;
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-cream: #fffef5;
	--clr-grey: #f2f2f2;
}


h1{
    position: relative;
    margin-top: 15px;
    margin-left: 40%;
    font-family: "Satisfy", cursive;
    font-size: var(--fs-h1);
    background: none;
    color: var(--clr-light);
}
